.container {
    height: 60px;
    background-color: #97266d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    color: white;
    padding: 0px 50px;
}

.li {
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    font-family:cursive;
}